<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>⚡ ZapIt</title>
    <link href="{{url_for('static', filename='css/site.css')}}" rel="stylesheet">
  </head>

  <body>
      <div class="main-container">
          <div class="cloud-image">
              <img src="{{url_for('static', filename='img/zap.png')}}" alt="successCloudNew" width="250" height="250"/>
          </div>
          <div class="content">
              <div class="tweet-container">
          </div>
              <div class="content-body">
                  <div class="description line-1"> the gods have graced us - the server is alive </div>
                  <div class="next-steps-container">

                      <div class="next-steps-body">
                          <div class="step">
                              <div class="step-icon">
                                  <img src="{{url_for('static', filename='img/cloneWhite.svg')}}" alt="cloneWhite">
                              </div>
                              <div class="step-text"><a href="https://github.com/GetSec/ZapIt"> api, appplication, deployment and development docs. </a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
