{% extends 'pure/layout.html' %}

{% block title %}Hello world from Flask-Pure{% endblock title %}

{% block style %}
{{ super() }}
<style>
  body { background-color: antiquewhite; }
  .pure-menu { background-color: navajowhite; }
  .pure-menu-link:hover { background-color: burlywood; }
  .l-box { margin: 2em; padding-top: 2em; }
  .button-bb { background-color: #205081; color: snow; padding: 1em; }
  .button-gh { background-color: #f5f5f5; padding: 1em; }
  .button-gl { background-color: #e24329; color: snow; padding: 1em; }
</style>
{% endblock style %}

{% block nav %}
<div class="header">
  <div class="pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading" href="/">webapp testing api</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-selected">
        <a href="https://github.com/getsec/ZapIt/blob/master/API.md" class="pure-menu-link">api docs</a>
      </li>
      <li class="pure-menu-item">
        <a href="mailto:securityinfo@wawanesa.com" class="pure-menu-link">help...</a>
      </li>
    </ul>
  </div>
</div>
{% endblock nav %}

{% block content %}
<div class="l-box">
  <div class="pure-g">
    <h1 class="pure-u-1">Wawanesa Web App Scanner</h1>
    <p class="pure-u-1">This API Leverages <a href="https://github.com/zaproxy/zaproxy">ZAP</a>. We automate your web app scans :)</p>
    <!-- <a class="pure-u-1 pure-u-md-1-3 pure-button button-bb" href="https://bitbucket.org/pyx/flask-pure/">Fork me on BitBucket</a>
    -->
  </div>
</div>
{% endblock content %}